@charset "utf-8";
*{
    font-family: 'Nunito', sans-serif;
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none; 
    -webkit-tap-highlight-color:transparent;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F1FAEE; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #202020;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #303030; 
  }

/**********************/
img {
  pointer-events: none;
}
a{
  user-select: none;
}
/* MAIN */
main{
    position: relative; 
    margin:0 auto;
    width:100%;
    background-color: #F1FAEE;
}
/* list */
main .list_about{
    /*background-color:#131313;*/
    height:370px;
    position: fixed;
    top:0;
    bottom:0;
    margin: auto;
    left:40px;
    border-radius:10px;
    padding:5px;
    width:69px;
    z-index:100;
}
/************/
main .list_about .boxtitle{
    display:flex;
    align-items: center;
    background-color:#131313;
    padding:5px;
    border-radius:10px;
    /*width:150px;*/
    width:60px;
    overflow: hidden;
    margin:10px 0;
    transition: width 0.2s;
} main .list_about .boxtitle:hover{width:150px;background-color: #202020;}
  main .list_about .boxtitle:hover p{display:block;}
  main .list_about .boxtitle:hover .boxtxt{background-color: #202020;}
main .list_about .boxtitle p{
    height:22px;
    color:#ffffff;
    margin-left:8px;
    display: none;
} main .list_about .boxtitle p:hover{color: #d6d6d6;}

main .list_about .boxtitle .boximg{
    width: 50px;
    min-width:50px;
    height: 50px;
    position: relative;
    border-radius: 10px;
    transition:background-color 0.3s;
} /*main .list_about .boxtitle .boximg:hover{background-color: #303030;}*/
main .list_about .boxtitle .boxtxt{
    padding: 14px 0;
    width: 90px;
    min-width:90px;
    background-color:#131313;
}
main .list_about .boxtitle .boximg img{
    position: absolute;
    top:0; bottom:0; left:0; right:0; margin:auto;
    width:30px;
}
main .list_about #respoclick{
    background-color:#131313;
    position: relative;
    height:50px;
    width:30px;
    left: 100%;
    top: -97%;
}
main .list_about #respoclick img{
    width:25px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
/****** END *******/

/* ALL BOX FOR INFO */
main .info_about{
    width:100%;
    max-width:1920px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
main .info_about .backaboutme{
    /*position: absolute;
    right:-70px;
    top:100px;*/
    margin-left:12%;
    width: 1000px;
    margin-top:95px;
}
main .info_about .backaboutme img{
    width:960px;
}
main .info_about .box_aboutme{
    width:65%;
    max-width:1920px;
    margin:0 auto;
    padding:60px 0;
}
main .info_about .box_aboutme .myinfo{
    position: absolute;
    margin-top:35px;
}
main .info_about .box_aboutme .myinfo h1{
    font-size:90px;
    font-weight: bold;
    color: #32383f;
}
main .info_about .box_aboutme .myinfo p{
    font-size:23px; 
    color: #45505b;
}
