h1,h2,h3,h4,h5,h6{
  text-decoration: none;
}
.article-blog h1{
  font-weight: bold;
  font-size:36px;
  margin-top: 12px;
  text-align: right !important;
  font-weight: bold;
}
.article-blog h2 {
  font-weight: bold;
  font-size: 28px;
  margin-top: 12px;
  text-align: right !important;
  font-weight: bold;
}
.article-blog h3 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 12px;
  text-align: right !important;
  font-weight: bold;
}
.article-blog p{
  line-height: 30px;
}
.article-blog ul li{
  list-style-type: disc;
  margin-right: 22px;
}
.article-blog ol li{
  list-style: decimal;
  margin-right: 22px;
}
.article-blog img{
  margin: 12px auto;
  padding:6px;
  border-radius: 6px;
  border: 1px solid #4A4E69;
  background-color: #4A4E69;
  
}

.article-blog p a {
  text-decoration: revert;
  padding: 0 2px 0 2px;
  transition: all 0.5s;
  border-radius: 3px;
  font-weight: bold;
}
.article-blog p a:hover {
  background-color: #C9ADA7;
  color: #22223B;
}
/* .article-blog strong{
  background-color: #C9ADA7;
  color: #22223B;
  padding: 0 2px 0 2px;
  border-radius: 3px;
} */
.article-blog blockquote{
  padding:4px;
  padding-right: 8px;
  background-color: #4A4E69;
  border-radius: 4px;
}
.article-blog code{
  background-color: #101018;
  color: #C9ADA7;
  padding: 18px;
  border-radius: 6px;
  margin: 10px 0;
  display: inline-block;
}
.article-blog pre{
  overflow: auto;
  direction: ltr !important;
}