.soonh1{
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  margin-bottom: 20px;
}
.soonbtn{
  background-color: #202020;
  padding: 10px 15px;
  border-radius: 120px;
  color: #fff;

  
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;

    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    pointer-events: none !important;
}