*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
  transition: all 0.3s;
  -webkit-tap-highlight-color:transparent;
  font-family: 'Nunito', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width:0;
  border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #202020;
}

/*********/

/* placeholder color */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a7a7a7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a7a7a7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a7a7a7;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a7a7a7;
} 


/* For mozila */
@-moz-document url-prefix() {}


/***** FOR CODE HTML *****/
header, main, footer{
  width: 100%;
  margin: 0 auto;
  height:auto;
}
h1 {
  font-size: 2.2em;
}
p {
  color: #666;
  line-height: 2;
}
a {
  text-decoration: none;
  text-align: center;
  color: #5485b3;
  user-select: none;
}
img {
  pointer-events: none;
}
textarea {
  resize: none; /* both */
}
input{
  border: solid 1px #a7a7a7;
  padding:3px 5px;
  border-radius: 3px;
}
input:focus{
  outline: none;
}
button{
  padding: 3px 5px;
  border: solid 1px #a7a7a7;
  background-color: #e4e4e4;
  cursor: pointer;
  border-radius: 3px;
}
li{
  list-style: none;
}
/**************************/

/* center */
.m-c{ /* object to centre with margin*/
  margin: 0 auto;
}
.d-f-c { /* object to centre with display flex*/
  display: flex;
  align-items: center;
}
.to-end{
  display: flex;
  justify-content: end;
}
.to-space-between{
  display: flex;
  justify-content: space-between;
}
.to-center{
  justify-content: center;
}
.p-c { /* object to centre with position absolute */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.p-left{ /* object to left */
  position: absolute;
  left: 0;
}
.p-right{ /* object to right */
  position: absolute;
  right:0;
}
.d-n{ /* toggle */
  display: none !important;
}
/*************** END **************/

/* FOR: icons responsive */
.resp-nav{
  font-size:30px;
  display:none;
  color: #fff;
}