.main-services{
  position: absolute;
}
.srv-logo{
  height:calc(100vh - 80px);
}
.srv-logo img{
  width:600px;
}
.box-services{
  user-select: none;
  width:90%;
  padding:80px 0;
  max-width: 1920px;
}


.box-link-srv{
  width:80%;
  margin-top: 30px;
  flex-wrap: wrap;
}
.a-srv{
  text-align: left !important;
  margin: 0 auto;
  /* cursor: pointer; */
  /* pointer-events: none; */
}
.link-srv{
  color: #fff;
  background-color: #202020;
  width:285px;
  border-left: solid 5px #ef4e7d;
  border-radius:3px;
  position: relative;
  padding:30px;
  margin: 15px auto;
} .link-srv:hover{background-color: #303030;}
.link-srv h1{
  font-size:24px;
  font-weight:700;
}
.link-srv p{
  color: #fff;
  font-size:16px;
  font-weight: 300;
  width:204px;
  margin-top:6px;
}
.link-srv  i{
  color: #ef4e7d;
  position: absolute;
  right:30px;
  bottom: 30px;
}

.list-srv{
  width:70%;
  max-width:985px;
  padding:80px 0;
  user-select: none;
}
.List-box-srv{
  width:100%;
}
.List-box-srv p{
  width:55%;
}