@charset "utf-8";

*{
    font-family: 'Nunito', sans-serif;; 
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none; 
}
@media /* HOME */ (max-width:1200px){
    body{
        background-size: auto;
    }
}
@media (max-width:1000px) {
    body{
        background-size: auto;
    }
    header{
        background-color: #202020;
    }
    main .boxall{
        width:55%;
        height:30%;
    }
    main .boxall .socialmedia .singlesocial{
        height:37px;
    }
    main .boxall .socialmedia .singlesocial img{
        width:17px;
    }
}
@media (max-width:700px){
    /* footer */
    footer .boxfooter{
        display: block;
    }
    .boxfooter .bzns-contact li{
        margin-left: 0;
        margin-right: 25px;
        text-decoration: underline;
    }
    .boxfooter .bzns-contact ul{
        margin: 0;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .boxfooter .bzns-contact .version{
        text-decoration: none;
        float: right;
        top: 2px;
        left:0;
        margin: 0;
    }
    .boxfooter .bzns-contact .version:hover{
        background-color:transparent;
        color: #8f8f8f;
    }
}
@media (max-width:360px){
    .boxfooter .bzns-contact ul{
        flex-wrap: wrap;
    }
    .boxfooter .bzns-contact a.bzns:link, a.contactme:link{
        font-size:10px;
    }

}