/* FOOTER */
.footer{
  position: fixed;
  bottom: 0;
  color: #fff;
  font-weight: 100;
  background-color: #202020;
  padding:2px 0;
  width: 100%;
}
.footer-box{
  width:95%;
  max-width: 1920px;
}
footer a, footer p{
  color: #fff;
  font-weight:200;
  font-size:14px;
}
footer a:hover{
  text-decoration: underline;
}
.other-link{
  width:350px;
}
.version{
  color: #8f8f8f;
  border:solid 1px #8f8f8f;
  border-radius:3px;
  padding:1px 2px;
  font-size:9px;
  font-weight: 600;
  transition:all 0.3s;
  display: inline-block;
}
.version:hover{
  background-color: #ffffff; 
  border:solid 1px #fff;
  color: #000;
}