
main .error{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 400px;
    height:370px;
    text-align: center;
}
main .error img{
    width:350px;
}
main .error a{
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.3s;
  margin-top:40px;
  background-color: #100d0d;
}
main .error a:hover{
  color: #100d0d;
  background-color: #fff;
  box-shadow: -2px -2px 4px #69b3fc, 2px 2px 4px #e55193;
}

@media(max-width:400px){
    main .error{
        width: 300px;
        height: 330px;
    }
    main .error img{
        width:300px;
    }
}
